<!-- TOOLBAR -->
<app-custom-toolbar></app-custom-toolbar>

<!-- FUNDO DE TELA -->
<main class="bg-screen">
  <!-- FUNDO PRETO -->
  <div class="fundo-preto-degrade">
    <!-- LISTA DE CARDS -->
    <section class="flex flex-row justify-center items-center py-4">
      <!-- CARD SOBRE -->
      <mat-card class="mat-card-autor">
        <mat-card-header class="flex">
          <mat-card-title> HisthoryGame </mat-card-title>
          <mat-card-subtitle> Plataforma de quizzes de história </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-justify text-base">O HisthoryGame é uma plataforma educativa que oferece quizzes de história com uma abordagem dinâmica e divertida. Os jogadores podem testar seus conhecimentos através de uma variedade de perguntas e desafios, enquanto aprendem de forma interativa sobre diferentes períodos históricos, eventos e figuras importantes.</p>
          <p class="text-justify text-base">Uma das características distintivas do HisthoryGame é o sistema de emblemas, que recompensa os jogadores com distintivos virtuais por alcançarem certos marcos ou desafios dentro do jogo. Isso não só incentiva a participação contínua, mas também adiciona um elemento competitivo saudável entre os jogadores.</p>
          <p class="text-justify text-base">Além dos quizzes tradicionais, o HisthoryGame oferece jogos educativos que permitem aos jogadores explorar a história de uma maneira mais prática e envolvente. Esses jogos podem incluir quebra-cabeças, jogos de memória ou simulações interativas que ajudam a contextualizar eventos históricos de forma visual e acessível.</p>
          <p class="text-justify text-base">Em resumo, o HisthoryGame é uma plataforma inovadora que combina educação e entretenimento, oferecendo uma maneira divertida e eficaz de aprender história através de quizzes e jogos dinâmicos.</p>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</main>
