<mat-toolbar color="warn">
  <section class="logotipo">
    <span>HisthoryGame</span>
  </section>

  <ng-container *ngIf="isMobile; else toolbarMenu">
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon> menu </mat-icon> </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let link of menuLinks" (click)="router.navigate([link.route])">{{ link.label }}</button>
      <button mat-menu-item (click)="router.navigate([''])">Sair</button>
    </mat-menu>
  </ng-container>

  <ng-template #toolbarMenu>
    <span class="toolbar-spacer"></span>
    <section class="router-links flex flex-wrap justify-center items-center gap-4">
      <button mat-button *ngFor="let link of menuLinks" (click)="router.navigate([link.route])">{{ link.label }}</button>
    </section>
    <span class="toolbar-spacer"></span>
    <button mat-button (click)="router.navigate([''])">Sair</button>
  </ng-template>
</mat-toolbar>
