.bg-screen {
  background-image: url('./../../../assets/background/compass-3408928_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

.container-menu {
  width: 100%;
  height: 450px;
  max-width: 350px;
}

.botao-menu {
  width: 250px;
  height: 40px;
}
