<!-- FUNDO DE TELA -->
<main class="bg-screen h-full">
  <!-- TOOLBAR -->
  <mat-toolbar color="primary">
    <span>HisthoryGame</span>
    <span class="toolbar-spacer"></span>
    <button
      mat-icon-button
      class="icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with share icon"
      (click)="router.navigate([''])"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <div class="fundo-preto-degrade">
    <!-- QUIZZES -->
    <div
      class="container-quizzes flex justify-center items-center flex-wrap px-4"
    >
      <mat-form-field class="inputSearch mt-8">
        <mat-label>Filtro de pesquisa</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Revolução Industrial"
          #input
        />
      </mat-form-field>

      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8 px-4"
        matSort
      >
        <ng-container matColumnDef="icone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">
            <img [src]="element.icone" alt="ícone do quiz" width="30" />
          </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
          <td class="" mat-cell *matCellDef="let element">
            {{ element.descricao }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
              matTooltip="Mais Detalhes"
            >
              @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              (click)="navegarQuiz(element.caminho)"
              matTooltip="Jogar Quiz"
            >
              <mat-icon class="play-icon">play_circle</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <th mat-header-cell *matHeaderCellDef>Detalhes</th>
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length"
          >
            <div
              class="element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="element-diagram">
                <img [src]="element.icone" alt="ícone" width="100" />
              </div>
              <div class="text-justify px-8 pt-2">
                {{ element.descricao }}
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplayWithExpand"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
        ></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>
      </table>

      <mat-paginator
        class="w-full"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of quizzes"
      ></mat-paginator>
    </div>
  </div>
</main>
